# IS362 Final Project
## Data analysis of the US Energy Information Administration (EIA)
### Anthony Paveglio
---
The EIA is a federal agency associated witht he US Department of Energy. The EIA is responsible for collecting data regarding various forms of energy in the US including fossil fuels, renewable energy, and a global outlook on energy and its impact. The usage, production, and transportation of forms of energy are tracked through the EIA.

- Fossil Fuel: A natural form of energy such as coal, gas, or oil.
- Renewable Energy: Also a natural form of energy collected from sources quicker to replenish such as solar, wind, or hydroelectric.

_More info will appear here, in progress..._

---

# 1. Libraries and Imported files

In [30]:
#Necessary libraries and imports
import sys
import requests
import json
import pandas
import seaborn
import numpy
import datetime

# 2. API Access Request and Handling
## Making a connection with US EIA data sources.

In [31]:
categoryData = requests.get(
    "http://api.eia.gov/category/?api_key=ba1598e22a90a4bb48e3c5bdc55db041&category_id=371&out=json")

print 'Response code from EIA API:', categoryData.status_code, categoryData.reason
print 'Amount of time required for request:', categoryData.elapsed

Response code from EIA API: 200 OK
Amount of time required for request: 0:00:00.148534

## Functions to convert EIA data to usable Python data

In [32]:
def JSONtoDataFrameEIA(APIResponse, columnTitles=None):
    #Takes the returned data from the API call and converts it into a usable dataframe
    #EIA responses contain the actual data and a list of headers embedded in JSON
    #Also converts all string date data to a usable datetime
    #The EIA structures their dates as 'yyyymm'
    #Example: 202001 = 2020/1 = January 2020

    #Parameters:
    #    APIResponse (mixed): The API response to be parsed into a DataFrame.
    #    columnTitles (list, optional): List of column titles to apply over the Dataframe's columns
    #         if the columnTitles are not specified in the function call, default titles will be
    #         assigned based on the data within the returned API call data

    #Returns:
    #    EIADataFrame(DataFrame): EIA Data parsed into a Dataframe
    
    EIADataFrame = pandas.DataFrame(APIResponse.json()['series'][0]['data'])
    if columnTitles:
        EIADataFrame.columns = columnTitles
    else:
        EIADataFrame.columns = ['Date', APIResponse.json()['series'][0]['name']]
    EIADataFrame['Date'] = pandas.to_datetime(EIADataFrame['Date'], format='%Y%m')
    return EIADataFrame

## Functions for handling other misc. processes

In [33]:
#ToDo

# 3. Energy Usage in the United States
## Reviewing Fossil and Renewable sources
Lets compare the usage of both fossil fuels and renewable energy consumption in the United States. First we need to request the data series from the EIA via the API. This will return the latest dataset available.

In [34]:
fossilFuelGeneric = requests.get(
    "http://api.eia.gov/series/?api_key=ba1598e22a90a4bb48e3c5bdc55db041&series_id=TOTAL.FFTCBUS.M")
renewablesGeneric = requests.get(
    "http://api.eia.gov/series/?api_key=ba1598e22a90a4bb48e3c5bdc55db041&series_id=TOTAL.RETCBUS.M")

The data returned from the EIA is contained in a JSON format. In Section 2 of this Jupyter Notebook a function was created to handle parsing data from the EIA JSON format to retrieve the data from JSON and form it into a Jupyter Notebook. Below the EIA data will be formed into two sets of data titled _fossilFuelData_ and _renewablesData_. These DataFrames will contain the dates and units of fuel consumed for each recorded date

In [35]:
fossilFuelData = JSONtoDataFrameEIA(fossilFuelGeneric)
renewablesData = JSONtoDataFrameEIA(renewablesGeneric)

Merging these dataframes using _pandas.merge_ will combine the data found in both DataFrames into one which will make it easier to compare the amount of renewable versus fossil fuels consumed. Merging dataframes by specifying the _on_ keyword in the merge function will combine the data based on the date.

In [36]:
fuelData = pandas.merge(left=fossilFuelData, right=renewablesData, on='Date')

#This will display the last 25 months of recorded data for both Fossil Fuel and Renewable Energy consumption
display(fuelData.head(25))

,Date,"Total Fossil Fuels Consumption, Monthly","Total Renewable Energy Consumption, Monthly"
0,2020-01-01,7204.205,972.738
1,2019-12-01,7174.573,947.972
2,2019-11-01,6764.463,910.772
3,2019-10-01,6379.894,922.997
4,2019-09-01,6272.004,883.759
5,2019-08-01,6849.707,934.983
6,2019-07-01,6820.898,975.007
7,2019-06-01,6174.786,996.219
8,2019-05-01,6136.590,1059.511
9,2019-04-01,5958.825,1023.090
10,2019-03-01,6994.403,993.965
11,2019-02-01,6798.668,870.879
12,2019-01-01,7784.486,941.352
13,2018-12-01,7326.627,925.094
14,2018-11-01,6933.880,887.305
15,2018-10-01,6551.053,883.518
16,2018-09-01,6316.764,845.102
17,2018-08-01,6969.488,934.249
18,2018-07-01,6897.754,928.270
19,2018-06-01,6377.282,1014.540
20,2018-05-01,6213.995,1040.020
21,2018-04-01,6246.616,1001.242
22,2018-03-01,6988.181,995.797
23,2018-02-01,6469.508,891.967
24,2018-01-01,7902.823,953.873

In [37]:
pivotFuelData = fuelData[fuelData['Date'] < '2020'].pivot_table(
    values=["Total Fossil Fuels Consumption, Monthly",
            "Total Renewable Energy Consumption, Monthly"],
    index=fuelData["Date"].dt.year,
    aggfunc=numpy.sum)

display(pivotFuelData)

,"Total Fossil Fuels Consumption, Monthly","Total Renewable Energy Consumption, Monthly"
Date,,
1973,70282.079,4410.937
1974,67871.940,4741.852
1975,65323.405,4687.121
1976,69070.873,4727.150
1977,70950.267,4208.967
1978,71809.332,5005.441
1979,72844.236,5122.854
1980,69779.558,5428.342
1981,67518.799,5413.688
1982,63835.902,5979.637
1983,63096.873,6495.613
1984,66445.834,6437.862
1985,66035.699,6084.015
1986,65985.926,6111.138
1987,68475.240,5621.807
1988,71507.884,5456.754
1989,72866.529,6234.657
1990,72281.577,6040.024
1991,71824.580,6067.786
1992,73339.660,5820.556
1993,74680.131,6081.635
1994,76150.585,5987.141
1995,77163.345,6559.367
1996,79699.646,7012.392
1997,80780.971,7014.123
1998,81273.991,6491.296
1999,82323.035,6513.748
2000,84621.752,6104.234
2001,82799.762,5159.968
2002,83592.256,5726.117
2003,83909.091,5944.160
2004,85666.269,6074.725
2005,85622.667,6233.557
2006,84477.198,6636.869
2007,85805.031,6523.109
2008,83040.547,7174.687
2009,77862.477,7608.331
2010,80726.676,8267.118
2011,79250.274,9204.158
2012,77309.945,8847.101
2013,79224.769,9450.618
2014,80016.188,9740.374
2015,79092.917,9720.571
2016,78312.470,10362.537
2017,77915.299,11076.520
2018,81193.971,11300.977
2019,80109.297,11460.506